<!DOCTYPE html>
<html>
<head>
    <title>Exercise Manager</title>
</head>
<body>
    <h1>Welcome to the Exercise Manager</h1>
    <a href="?action=manage_exercises">Manage Exercises</a><br>
    <a href="?action=manage_users">Manage Users</a>
</body>
</html>